
body {
  background: #202020;
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding: 2rem;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
